.img_fundo{
    background-image: url(../img/kat.jpg);


}

.h2-rotation {
    text-align: center;
    color: white;
}
table.center {
    margin: auto;
}

.foot_dir{
    position: relative;
    padding: 20px;
    text-align: center;
}

.navbarT{
    bottom:0;
    position:absolute;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 10px;
}
.foot_inv{
    position: relative;
    padding-top: 50px;
    text-align: center;
}
.img-mastria{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 100%;
    object-fit: cover;
    border: 1px solid black ;
    border-radius:20px;
}
.img-name-Imag-Inv{
    border-radius: 50%;
    margin: 25px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.card-tt{
    max-height: 20%;
    max-width:100%;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 15px;
    margin-top:15px;
    border: 1px solid black;
    border-radius:20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);"
}

.card-t{
    width: 18rem;

    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    border: 18px solid black;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

