.card-perfil, .card-perfil2 {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.separador{
    width: 15px;
    height: 0;
    border-right: 800px solid transparent;
    border-bottom: 200px solid green;
    border-radius: 15px;
}

.separador-teste{
    width: 40%;
    height: 0;
    border-right: 120px solid transparent;
    border-bottom: 200px solid gray;
    opacity: 85%;


}

body{
    background-image: url('../img/ionia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.freg{
    position: absolute;
    left: 28%;
    bottom: 30%;
}

.tempo{
    position: absolute;
    bottom: 2%;
    right: 87%;
}

.win-lose{
    position: absolute;
    left: 5%;
    bottom: 38%;
}

.kda{
    position: absolute;
    right: 37%;
    left: 28%;
    bottom: 55%;
    font-size: 100%;
}

.queue{
    position: absolute;
    left: 4%;
}

.farm{
    position: absolute;
    right: 39%;
    left: 30%;
    bottom: 20%;
    font-size: 100%;
}