<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org/" xmls.layout="http://www.utraq.net.nz/thymeleaf/layourt"
      xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/cs/styleee.css" rel="stylesheet" >
    <title>History</title>
</head>
<body>
<div>
    <table>
        <tr th:each="match: ${matchs}">
            <div class="card-perfil2" th:style="'background-image: url(\'' + ${match.getUrlImgChampion()} + '\');'">
                <div class="separador-teste" >
                    <h3 class="queue" th:text="${match.getQueue()}"></h3>
                    <h2 class="win-lose" th:text="${match.getResulMatch()}" ></h2>
                    <h2 class="freg" th:text="${match.getFregFormat()}"></h2>
                    <h2 class="kda" th:text="'KDA: ' + ${match.getKdaFormat()}"></h2>
                    <h2 class="farm" th:text="${match.getFarm()} + ' cs'"></h2>
                    <h2 class="tempo" th:text="${match.getTimeMatch()}"></h2>
                </div>
            </div>
        </tr>
    </table>
</div>
</body>
</html>